@model IEnumerable<Score>;


@{
    ViewData["Title"] = "Zordur Game";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js" integrity="sha256-/H4YS+7aYb9kJ5OKhFYPUjSJdrtV6AeyJOtTkw6X72o=" crossorigin="anonymous"></script>
<script src="~/js/tr01.js"></script>
<script src="~/js/dictr01.js"></script>
<h1 id="info" style="margin-top:10px;">
    <div id="container">
        <div style="margin-top:20px;" id="countdown"></div>
        <!-- Kelimenin Anlamı/ apiden js den geliyor içeriği -->
        <div style="margin:10px;" id="ip-ucu" role="alert">
            <p class="result" style="font-family:'Inter', 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;font-size:medium;color:white;"><i class="fa fa-check-circle"></i></p>
        </div>
        <script type="text/javascript" charset="utf-8">

            var countdown = $("#countdown").countdown360({
                radius: 30,
                seconds: 60,
                fontColor: '#FFFFFF',
                autostart: false,
                onComplete: function () {
                    goToByScroll();
                }
            });
            countdown.start();

        </script>
    </div>
</h1>


<div class="text-center" style=" margin-top:2px;">
    <table class="listenChange">
        <tbody id="tbody">
        </tbody>
        <partial name="_flags" />
    </table>
    <div style="margin-top:20px;">
        <a style="background-color:grey;" id="new-game" asp-area="" class="btn btn-info btn-sm" asp-controller="Zordur" asp-action="trTR">Tekrar Oyna</a>
        <a id="gameKeyId"></a>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog" style="background: #3a3a3c;">
    <div class="modal-dialog modal-sm" style="background: #3a3a3c;">
        <div class="modal-content" style="background: #3a3a3c;">
            <div class="modal-header" style="background: #3a3a3c;">
                <h4 class="modal-title" style="color:white">
                    En İyi Skorlar
                </h4>
            </div>
            <div class="modal-body" style="background: #3a3a3c;">
                <table class="table" style="background: #3a3a3c;color:white;">
                    <tbody>
                        <tr>
                            <td style="font-size:1.5em;font-family: 'Inter', 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;">Sıra</td>
                            <td style="font-size:1.5em;font-family: 'Inter', 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;">Tarih</td>
                            <td style="font-size:1.5em;font-family: 'Inter', 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;">Süre</td>
                        </tr>
                        </tr>
                        @{
                            int i = 0;
                        }
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                i++;
                                <tr>
                                    <td style="font-size:1em;font-family: 'Inter', 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;">
                                        @i
                                    </td>
                                    <td style="font-size:1em;font-family: 'Inter', 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;">
                                        @item.scoreDate
                                    </td>
                                    <td style="font-size:1em;font-family: 'Inter', 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;">
                                        @item.second
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td colspan="2" style="font-size:1em;font-family: 'Inter', 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;">
                                    <b disabled>Toplam Oyun Sayısı: </b>
                                </td>
                                <td style="font-size:1em;font-family: 'Inter', 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;">
                                    <b>@ViewBag.PageHitCount</b>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="font-size:1em;font-family: 'Inter', 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;">
                                    <b disabled>Toplam Doğru Tahmin: </b>
                                </td>
                                <td style="font-size:1em;font-family: 'Inter', 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;">
                                    <b>@ViewBag.Count</b>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="font-size:1em;font-family: 'Inter', 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;">
                                    <b disabled">Toplam Yanlış Tahmin:</b>
                                </td>
                                <td style="font-size:1em;font-family: 'Inter', 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;">
                                    <b>@ViewBag.GameOverCount</b>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button style="margin:20px;background-color:grey;" type="button" class="btn btn-info btn-sm" data-dismiss="modal">Çıkış</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal2" role="dialog" style="background: #3a3a3c;">
    <div class="modal-dialog modal-lg" style="background: #3a3a3c;">
        <div class="modal-content" style="background: #3a3a3c;">
            <div class="modal-header" style="background: #3a3a3c;">
                <h4 class="modal-title" style="color:white">
                    NASIL OYNANIR
                </h4>
            </div>
            <div class="modal-body" style="background: #3a3a3c;color:white;">
                <p>ZORDUR'u 5 denemede en kısa sürede bulun.</p>
                <p>
                    Klavye için kareye dokunun. Her tahmin 5 harfli doğru veya yanlış bir kelime olmalıdır. Tahmini göndermek için enter'a gerek yoktur, alan bitiminde otomatik karşılaştırlır.
                </p>
                <p>
                    Her tahminden sonra kutucukların renkleri tahmininizin yakınlığına göre değişecektir. Geri Silme yapamazsınız.
                    Amacınız en hızlı sürede kelimeyi tahmin etmek.
                </p>
                <hr />
                <b>Örnekler</b>
                <ul>
                    <li>
                        <img src="~/images/456.png" />
                        <p>
                            R harfi kelimede var ve doğru yerde.
                        </p>
                    </li>
                    <li>
                        <img src="~/images/123.png" />
                        <p>
                            L harfi kelimede var fakat yanlış yerde.
                        </p>
                    </li>
                </ul>
            </div>

            <div class="modal-footer">
                <button style="margin:20px;background-color:grey;" type="button" class="btn btn-info btn-sm" data-dismiss="modal">Çıkış</button>
            </div>
        </div>
    </div>
</div>


